@using TreatsAndTails.Components
@inherits LayoutComponentBase

<MyMudThemeProvider _IsDarkMode="@IsDarkMode"/>

<MudDialogProvider />
<MudSnackbarProvider />

<div class="page mud-layout">

    <div class="sidebar mud-elevation-1">
        <div class="top-row mud-drawer-head">
            <div>
                <h2>Treats & Tails</h2>
            </div>
        </div>
        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
            <NavMenu />
        </div>

    </div>

     <main>
        <div class="top-row px-4">
            <MudSwitch @bind-Value="@IsDarkMode" id="DarkModeSwitch" Color="Color.Primary" T="bool" Label="Toggle Light/Dark Mode" />
        </div>

        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-2 pt-2">
            @Body
        </MudContainer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    public bool IsDarkMode { get; set; }
}