@page "/"
<MudContainer MaxWidth="MaxWidth.Medium" Class="my-2 pt-2">
	<MudCard Class="p-4" Padding="Padding.Medium">
		<MudCardContent>
			<MudGrid>
				<MudItem xs="12" sm="6">
					<h1 class="text-2xl md:text-3xl font-bold mb-4">Welcome to Treats And Tails!</h1>
					<p class="text-lg">Hi there! I'm Hailey, the proud founder and owner of Treats And Tails. Let me share with you the story behind our passion.</p>
					<p class="text-lg mt-4">In 2020, I discovered that my beloved German Shepherd, Kida, was allergic to almost everything. Finding treats that she could safely enjoy became a daunting and costly task. Determined to provide delicious and safe treats for Kida and other fur babies, I embarked on a journey to create Treats And Tails.</p>
					<p class="text-lg mt-4">At Treats And Tails, we believe that every dog deserves tasty and wholesome treats made with limited, carefully selected ingredients. Our mission is to bring joy to both pets and their owners by offering high-quality treats that are not only delicious but also safe and nutritious.</p>
				</MudItem>
				<MudItem xs="12" sm="6">
					<MudImage Fluid="true" Src="images/branding/group.jpg" Alt="Icon" Class="rounded-lg" />
				</MudItem>
			</MudGrid>
		</MudCardContent>
	</MudCard>
</MudContainer>
